{% extends 'AppCoder/index.html' %}
{% load static %}


{% block content %}
<body>
    <center>
<h1>
    <br><br><br>
   Acerca del sitio:

</h1>
<h3>Funcionalidad:</h3>
<h6>
<b>/formularioContacto/:</b><br>Aqui podras comunicarte con el equipo de BlogsApp.<br><br>
<b>/blog/:</b><br>Aqui podras consultar los blogs creados por todos los usuarios.<br><br>
    <b>/post/:</b><br>Aqui podras crear tus propios blogs.<br><br>
        <b>/article/edit/||/article/delete/:</b><br>Aqui podras editar y eliminar tus publicaciones anteriores.<br><br>
            <b>/editarPerfil/:</b><br>Aqui podras editar tu informacion personal.<br><br>
</h6>

<h3>Creador</h3>
<h6>
    Hola soy Joaquin Gomez y este es mi primer sitio web.<br>Lo desarrolle utilizando Python ,Django y HTML5.<br>Espero que te sea util!
</h6>
</center>
</body>
{% endblock content%}