
{% extends 'AppCoder/base.html' %}
{% load static %}


{% block content %}
<!doctype html>
<html>
<head>
<title>Profesor Table</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>
<body>
    <h1>Profesores</h1>
    <a href="{% url 'crear-profesor-view' %}">Crear Profesor</a>
{% for pro in profesores %}
<p>||Profesor: {{ pro.nombre }}  ||Apellido:  {{ pro.apellido }} ||Email:  {{ pro.email }} ||Profesion:  {{ pro.profesion }} <a href="{%url 'profesor-update-view' pro.id %}">Editar</a> - <a href="{%url 'profesor-delete-view' pro.id %}">Eliminar</a></p>
<br><br>

{% endfor %}
</body>
</html>
{% endblock %}